<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descrpcion</th>
                    <th>Categoria</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}">DefaultName</td>
                    <td th:text="${product.price}">DefaultPrice</td>
                    <td th:text="${product.description}">DefaultPrice</td>
                    <td th:text="${product.category}">DefaultCategory</td>
                    <td><img th:src="@{${product.imageUrl}}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
